/*
	Extra CSS for regulate components from the Site
*/

.text-description-main {
	text-align: justify; 
	margin: 0; 
	border: 0;
}

.ajust-title-main {
	padding-top: 1%;
}

.ajust-title-main-2 {
	padding-top: 0;
	padding-bottom: 0;
}

.ajust-title-card{
	text-align: center;
	font-weight: bold;
	padding-left: 0;
	float: right;
}

.title-card-center{
	text-align: center;
	font-weight: bold;
}

.center {    
	text-align: center;
}

.center-box {
	display: -webkit-flex !important;
	-webkit-align-items: center !important; 
	display: flex !important;
	align-items: center !important;
}

.ajust-position {
		margin-top: -5px !important;
		margin-left: 10% !important;
	}

@media only screen and (max-width: 990px){
	.ajust-position {
		margin-top: 20% !important;
		margin-left: 20% !important;
	}
}

.img-ajust img{
	max-width: 100px;
	max-height: 100px;
}

.img-resize img{
	max-width: 230px;
	max-height: 130px;
	padding-left: 60px;
	padding-right: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.color-link a{
	color: #f44336;
}

.middle-center {
	display:flex;
	justify-content:center;
	align-items:center;
}
