/*
	Extra CSS for regulate components from the Site
*/

.text-description-main {
	text-align: justify; 
	margin: 0; 
	border: 0;
}

.ajust-title-main {
	padding-top: 1%;
}

.ajust-title-card{
	text-align: center;
	font-weight: bold;
	padding-left: 0;
	float: right;
}

.title-card-center{
	text-align: center;
	font-weight: bold;
}

.center {
	text-align: center;
}